<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <!-- namespace必须指向Dao接口 -->
<mapper namespace="com.hwy.blog.core.dao.AboutDao">

    <resultMap id="AboutResultMap" type="com.hwy.blog.core.model.About">
            <id column="id" jdbcType="BIGINT" property="id" />
            <id column="phone" jdbcType="VARCHAR" property="phone" />
            <id column="qq" jdbcType="VARCHAR" property="qq" />
            <id column="email" jdbcType="VARCHAR" property="email" />
            <id column="context" jdbcType="VARCHAR" property="context" />
            <id column="data_status" jdbcType="TINYINT" property="dataStatus" typeHandler="com.hwy.blog.typeHandler.DataStatusTypeHandler"/>
            <id column="create_time" jdbcType="TIMESTAMP" property="createTime" />
            <id column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>

    <sql id="Base_Column_List">
            id,
            phone,
            qq,
            email,
            context,
            data_status,
            create_time,
            update_time
    </sql>

    <insert id="insert" parameterType="com.hwy.blog.core.model.About">
        insert into t_about
        <trim prefix="(" suffix=")" suffixOverrides="," >
                <if test="phone != null and phone!='' " >
                    phone,
                </if>
                <if test="qq != null and qq!='' " >
                    qq,
                </if>
                <if test="email != null and email!='' " >
                    email,
                </if>
                <if test="context != null and context!='' " >
                    context,
                </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
                <if test="phone != null and phone!='' " >
                    #{phone,jdbcType=VARCHAR},
                </if>
                <if test="qq != null and qq!='' " >
                    #{qq,jdbcType=VARCHAR},
                </if>
                <if test="email != null and email!='' " >
                    #{email,jdbcType=VARCHAR},
                </if>
                <if test="context != null and context!='' " >
                    #{context,jdbcType=VARCHAR},
                </if>
        </trim>
    </insert>

    <delete id="delete" parameterType="com.hwy.blog.core.model.About">
        delete from t_about
        <where>
                <if test="id != null and id!='' " >
                    id = #{id},
                </if>
        </where>
    </delete>

    <update id="update" parameterType="com.hwy.blog.core.model.About">
        update t_about
        <set>
                    <if test="phone != null and phone!='' " >
                        phone=#{phone,jdbcType=VARCHAR},
                    </if>
                    <if test="qq != null and qq!='' " >
                        qq=#{qq,jdbcType=VARCHAR},
                    </if>
                    <if test="email != null and email!='' " >
                        email=#{email,jdbcType=VARCHAR},
                    </if>
                    <if test="context != null and context!='' " >
                        context=#{context,jdbcType=VARCHAR},
                    </if>
                    <if test="dataStatus != null and dataStatus!='' " >
                        data_status=#{dataStatus,jdbcType=TINYINT,typeHandler=com.hwy.blog.typeHandler.DataStatusTypeHandler},
                    </if>
        </set>
        <where>
                <if test="id != null and id!='' " >
                    id = #{id},
                </if>
        </where>
    </update>

    <select id="select" parameterType="com.hwy.blog.core.model.About" resultMap="AboutResultMap">
        select <include refid="Base_Column_List"/>
        from t_about
        <where>
                    <if test="id != null and id!='' " >
                        id = #{id},
                    </if>
        </where>
    </select>

    <select id="get" parameterType="com.hwy.blog.core.model.About" resultMap="AboutResultMap">
        select <include refid="Base_Column_List"/>
        from t_about
        <where>
                    <if test="id != null and id!='' " >
                        id = #{id},
                    </if>
        </where>
    </select>

</mapper>