<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <!-- namespace必须指向Dao接口 -->
<mapper namespace="com.hwy.blog.core.dao.ImageDao">

    <resultMap id="ImageResultMap" type="com.hwy.blog.core.model.Image">
            <id column="id" jdbcType="BIGINT" property="id" />
            <id column="rel_id" jdbcType="BIGINT" property="relId" />
            <id column="path" jdbcType="VARCHAR" property="path" />
            <id column="img_type" jdbcType="TINYINT" property="imgType" />
            <id column="data_status" jdbcType="TINYINT" property="dataStatus" typeHandler="com.hwy.blog.typeHandler.DataStatusTypeHandler" />
            <id column="create_time" jdbcType="TIMESTAMP" property="createTime" />
            <id column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>

    <sql id="Base_Column_List">
            id,
            rel_id,
            path,
            img_type,
            data_status,
            create_time,
            update_time
    </sql>

    <insert id="insert" parameterType="com.hwy.blog.core.model.Image">
        insert into t_image
        <trim prefix="(" suffix=")" suffixOverrides="," >
                <if test="relId != null and relId != '' " >
                    relId,
                </if>
                <if test="path != null and path!='' " >
                    path,
                </if>
                <if test="imgType != null and imgType!='' " >
                    img_type,
                </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
                <if test="relId != null and relId != '' " >
                    #{relId,jdbcType=BIGINT},
                </if>
                <if test="path != null and path!='' " >
                    #{path,jdbcType=VARCHAR},
                </if>
                <if test="imgType != null and imgType!='' " >
                    #{imgType,jdbcType=TINYINT},
                </if>
        </trim>
    </insert>

    <delete id="delete" parameterType="com.hwy.blog.core.model.Image">
        delete from t_image
        <where>
                <if test="id != null and id!='' " >
                    id = #{id},
                </if>
        </where>
    </delete>

    <update id="update" parameterType="com.hwy.blog.core.model.Image">
        update t_image
        <set>
                    <if test="path != null and path!='' " >
                        path=#{path,jdbcType=VARCHAR},
                    </if>
                    <if test="imgType != null and imgType!='' " >
                        img_type=#{imgType,jdbcType=TINYINT},
                    </if>
                    <if test="dataStatus != null and dataStatus!='' " >
                        data_status=#{dataStatus,jdbcType=TINYINT,typeHandler=com.hwy.blog.typeHandler.DataStatusTypeHandler},
                    </if>
                    <if test="relId != null and relId!='' " >
                        rel_id=#{relId,jdbcType=BIGINT},
                    </if>
        </set>
        <where>
                <if test="id != null and id!='' " >
                    id = #{id},
                </if>
        </where>
    </update>

    <select id="select" parameterType="com.hwy.blog.core.model.Image" resultMap="ImageResultMap">
        select <include refid="Base_Column_List"/>
        from t_image
        <where>
                    <if test="id != null and id!='' " >
                        id = #{id},
                    </if>
        </where>
    </select>

    <select id="get" parameterType="com.hwy.blog.core.model.Image" resultMap="ImageResultMap">
        select <include refid="Base_Column_List"/>
        from t_image
        <where>
                    <if test="id != null and id!='' " >
                        id = #{id},
                    </if>
        </where>
    </select>

</mapper>